In [1]:
import sys
sys.path.insert(0,'/home/djl34/kl_git/scripts')
from notebook_imports import *

/home/djl34/mambaforge/envs/raklette/lib/python3.9/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.
  warnings.warn(

In [2]:
client = Client()

/home/djl34/mambaforge/envs/raklette/lib/python3.9/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 35039 instead
  warnings.warn(

### get region of poor quality

In [3]:
type = "binary"

chrom = "*"
filename = os.path.join(KL_data_dir, f"results/footprints/zscore/{type}/{chrom}.tsv")

df = dd.read_csv(filename, sep = "\t")

denovo = [os.path.join(KL_data_dir, f"results/footprints/denovo/{chrom}.tsv") for chrom in all_chrom_set]
df_denovo = dd.read_csv(denovo, sep = "\t")

In [4]:
df = df.compute()
df = df[df["sites"] > 20]
df_denovo = df_denovo.compute()

/home/djl34/mambaforge/envs/raklette/lib/python3.9/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.
  warnings.warn(

In [5]:
df = df.merge(df_denovo, on = "footprint_identifier", how = "left")
# df = df[df["sites"] > 20]

In [6]:
df.head()

,footprint_identifier,polymorphic,polymorphic_expected,sites_x,zscore_binary,denovo_an_case,denovo_an_control,denovo_halldorsson_control,mu,sites_y
0,1.102814.27,13,9.109542,30,1.288998,0.0,0.0,0.0,4.624,30
1,1.102814.3,7,8.946010,33,-0.650624,0.0,0.0,0.0,4.278,33
2,1.102814.44,29,22.224545,81,1.437216,0.0,0.0,0.0,11.287,81
3,1.102814.47,42,35.749847,138,1.045330,0.0,0.0,0.0,17.092,138
4,1.102814.5,14,15.067262,49,-0.274950,0.0,0.0,0.0,8.026,49

In [7]:
column = "zscore_binary"

df = df.sort_values(column, ascending = True)

In [8]:
df[:10][["footprint_identifier", column, "mu", "sites_x", "denovo_an_case", "denovo_an_control"]]

,footprint_identifier,zscore_binary,mu,sites_x,denovo_an_case,denovo_an_control
3286680,7.840436.5,-4.710501,16.249,66,0.0,0.0
541880,11.157759.4,-4.560288,53.346,114,0.0,0.0
3100869,6.959737.4,-4.144409,20.360,54,0.0,0.0
541879,11.157759.1,-3.980127,24.538,60,0.0,0.0
2758276,5.534618.7,-3.885602,18.711,59,0.0,0.0
2622519,4.825578.2,-3.877853,11.059,94,0.0,0.0
2758274,5.534618.1,-3.819068,26.682,62,0.0,0.0
541881,11.157759.7,-3.802916,35.972,81,0.0,0.0
1802003,2.5184737.9,-3.794701,7.785,132,0.0,0.0
3028575,6.6748639.4,-3.706208,5.739,114,0.0,0.0

In [8]:
df[:10][["footprint_identifier", column, "mu", "sites_x", "denovo_an_case", "denovo_an_control"]]

,footprint_identifier,zscore_binary,mu,sites_x,denovo_an_case,denovo_an_control
3075499,5.8014736.7,-8.933605,76.923,441,0.0,0.0
3075549,5.8015646.7,-8.831782,49.581,819,0.0,0.0
3075476,5.8014616.2,-8.634958,186.140,1620,0.0,0.0
3075572,5.8015676.8,-8.310523,281.862,3402,0.0,0.0
3075447,5.801426.1,-8.234266,73.226,1083,0.0,0.0
3075420,5.801403.4,-8.150808,67.697,741,0.0,0.0
3075010,5.799031.2,-8.109543,79.395,810,0.0,0.0
3075344,5.801135.1,-7.964216,93.792,1248,0.0,0.0
3075436,5.801411.7,-7.914505,200.450,2793,0.0,0.0
3075550,5.8015652.1,-7.890354,257.544,2100,0.0,0.0

In [9]:
footprint_list = list(df[:10]["footprint_identifier"])

In [10]:
filename = os.path.join(KL_data_dir, "footprints/consensus_footprints_and_collapsed_motifs_hg38.bed.gz")

fp_header = ['Chrom', 'start', 'end', 'identifier', 'mean_signal', 'num_samples', 'num_fps', 'width', 'summit_pos', 'core_start', 'core_end', 'motif_clusters']

fp = pd.read_csv(filename, sep = "\t", names = fp_header)

In [11]:
fp_some = fp[fp["identifier"].isin(footprint_list)]

In [35]:
fp_some

,Chrom,start,end,identifier,mean_signal,num_samples,num_fps,width,summit_pos,core_start,core_end,motif_clusters
3365965,chr5,141002292,141002310,5.799031.2,360.290272,34,34,18,141002301,141002299.0,141002307.0,E2F/2;EGR;GC-tract;HD/2;KLF/SP/1;KLF/SP/2;NR/1...
3366380,chr5,141420970,141420996,5.801135.1,1589.850363,160,223,26,141420982,141420960.0,141420991.0,CTCF;E2F/1;Ebox/CAGCTG;HEN1;NRF1;PAX/2;TFAP2/1...
3366467,chr5,141476219,141476232,5.801403.4,30.672752,1,1,13,141476225,141476225.0,141476225.0,NaN
3366486,chr5,141476927,141476976,5.801411.7,34.300117,3,5,49,141476940,141476931.0,141476967.0,FOX/6;HD/10;HD/5;MYB/2;NR/18;OSR2;ZFX
3366498,chr5,141478059,141478078,5.801426.1,18.558241,1,1,19,141478068,141478068.0,141478068.0,REL-halfsite;SOX/1;ZIC
3366534,chr5,141485394,141485421,5.8014616.2,18.190647,2,3,27,141485401,141485400.0,141485413.0,FOX/1;SIX/1;TBX/2
3366563,chr5,141492289,141492296,5.8014736.7,5.049982,1,1,7,141492292,141492292.0,141492292.0,EGR;GC-tract;NRF1;ZBTB14
3366621,chr5,141508506,141508519,5.8015646.7,8.615996,1,1,13,141508512,141508512.0,141508512.0,GC-tract;KLF/SP/2;NR/17;ZNF329;ZNF331
3366622,chr5,141508523,141508557,5.8015652.1,21.035942,1,1,34,141508540,141508540.0,141508540.0,CTCF;E2F/2;EGR;Ebox/CACCTG;Ebox/CACGTG/2;GC-tr...
3366647,chr5,141509472,141509526,5.8015676.8,33.141919,3,4,54,141509506,141509488.0,141509521.0,CREB/ATF/1;HD/14;KLF/SP/2;NR/1;NR/3;PLAG1;SMAD...

In [13]:
start_pos, end_pos = fp_some["start"].min(), fp_some["end"].max()

## Let's look at variants in this region

In [14]:
start_pos

141002292

In [15]:
end_pos

141509526

In [21]:
chrom = 5
filename = os.path.join(KL_data_dir, f"whole_genome/AN_interpolate/{chrom}/_metadata")

In [23]:
rate = dd.read_parquet(filename.split("_metadata")[0])

In [24]:
rate.head()

,Pos,mu,Allele_ref,Allele,mu_index,filter_gnomADv3,AC_gnomADv3,AN_gnomADv3,filter_ukb,AC_ukb,AN_ukb,AN_gnomADv3_ffill,AN_gnomADv3_bfill,AN_gnomADv3_interpolate,AN_ukb_ffill,AN_ukb_bfill,AN_ukb_interpolate,AN_total_interpolate,AC_total
11476211,12200,0.062,A,C,5,PASS,926.0,141554.0,PASS,798,978490,141554,141554,141554.0,978490,978490,978490.0,1120044.0,1724.0
11469136,12200,0.020,A,T,1,None,NaN,NaN,None,<NA>,<NA>,141554,141788,141671.0,978490,978490,978490.0,1120161.0,0.0
3177454,12200,0.094,A,G,8,None,NaN,NaN,PASS,15,978490,141554,141788,141671.0,978490,978490,978490.0,1120161.0,15.0
8538292,12207,0.041,G,C,3,None,NaN,NaN,None,<NA>,<NA>,141554,141788,141671.0,978490,978488,978489.0,1120160.0,0.0
1995443,12207,0.198,G,A,17,PASS,2.0,141788.0,PASS,4,978488,141788,141788,141788.0,978488,978488,978488.0,1120276.0,6.0

In [25]:
rate_region = rate[(rate["Pos"] >= start_pos) & (rate["Pos"] <=  end_pos)].compute()

In [28]:
rate_region = rate_region.drop(["AN_gnomADv3_ffill", "AN_gnomADv3_bfill", "AN_ukb_ffill", "AN_ukb_bfill"], axis = 1)

In [29]:
rate_region.to_csv("cadherins_region.tsv", sep = "\t", index = None)

In [31]:
rate_region_polymorphic = rate_region[rate_region["AC_total"] > 0]

In [33]:
rate_region_polymorphic[["filter_gnomADv3", "filter_ukb"]].value_counts()

filter_gnomADv3  filter_ukb
PASS             PASS              47414
AC0              PASS                267
AC0;AS_VQSR      PASS                191
AS_VQSR          PASS                191
PASS             LowQD               165
AS_VQSR          LowQD                13
AC0;AS_VQSR      LowQD                12
PASS             LowABHet;LowQD        8
AC0              LowQD                 5
AC0;AS_VQSR      LowABHet;LowQD        2
AS_VQSR          LowABHet;LowQD        2
dtype: int64

In [47]:
index = 5
start, end = fp_some.iloc[index]["start"], fp_some.iloc[index]["end"]

rate_region_polymorphic[(rate_region_polymorphic["Pos"] >= start) & (rate_region_polymorphic["Pos"] <= end)]

,Pos,mu,Allele_ref,Allele,mu_index,filter_gnomADv3,AC_gnomADv3,AN_gnomADv3,filter_ukb,AC_ukb,AN_ukb,AN_gnomADv3_interpolate,AN_ukb_interpolate,AN_total_interpolate,AC_total
4726733,141485395,0.186,C,T,16,None,NaN,NaN,PASS,3,983132,152119.0,983132.0,1135251.0,3.0
11171772,141485396,0.062,T,C,5,None,NaN,NaN,PASS,4,983132,152119.0,983132.0,1135251.0,4.0
1078535,141485398,0.117,C,T,10,None,NaN,NaN,PASS,22,983132,152119.0,983132.0,1135251.0,22.0
6292527,141485399,1.000,C,T,34,None,NaN,NaN,PASS,3,983132,152119.0,983132.0,1135251.0,3.0
9605644,141485411,0.030,G,C,2,PASS,2.0,152176.0,None,<NA>,<NA>,152176.0,983132.0,1135308.0,2.0
1929299,141485416,1.400,C,T,35,PASS,2.0,152128.0,PASS,4,983132,152128.0,983132.0,1135260.0,6.0
10554642,141485417,1.000,G,A,34,None,NaN,NaN,PASS,1,983132,152165.0,983132.0,1135297.0,1.0

In [42]:
index = 1
fp_some.iloc[index]["start"]

Chrom                                                          chr5
start                                                     141420970
end                                                       141420996
identifier                                               5.801135.1
mean_signal                                             1589.850363
num_samples                                                     160
num_fps                                                         223
width                                                            26
summit_pos                                                141420982
core_start                                              141420960.0
core_end                                                141420991.0
motif_clusters    CTCF;E2F/1;Ebox/CAGCTG;HEN1;NRF1;PAX/2;TFAP2/1...
Name: 3366380, dtype: object

In [48]:
filename = pd_data_dir + "/biomart/ENSG_exon_start_end_type_111.tsv"

df = pd.read_csv(filename, sep = "\t")

/tmp/ipykernel_13610/3910078615.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep = "\t")

In [50]:
df = df[df["Chromosome/scaffold name"] == "5"]

In [53]:
df[(df["Exon region start (bp)"] >= start_pos) & (df["Exon region end (bp)"] <= end_pos)]

,Gene stable ID,Gene stable ID version,Transcript stable ID,Transcript stable ID version,Chromosome/scaffold name,Gene type,Exon region start (bp),Exon region end (bp)
651658,ENSG00000204970,ENSG00000204970.10,ENST00000504120,ENST00000504120.4,5,protein_coding,141009627,141012347
651662,ENSG00000204970,ENSG00000204970.10,ENST00000394633,ENST00000394633.7,5,protein_coding,141009627,141010080
651891,ENSG00000204969,ENSG00000204969.7,ENST00000526136,ENST00000526136.2,5,protein_coding,141009627,141012347
651899,ENSG00000255408,ENSG00000255408.4,ENST00000522353,ENST00000522353.3,5,protein_coding,141009627,141012347
652240,ENSG00000204965,ENSG00000204965.9,ENST00000529859,ENST00000529859.2,5,protein_coding,141009627,141012347
...,...,...,...,...,...,...,...,...
1039453,ENSG00000178913,ENSG00000178913.9,ENST00000624699,ENST00000624699.1,5,protein_coding,141260225,141260491
1039454,ENSG00000178913,ENSG00000178913.9,ENST00000313368,ENST00000313368.8,5,protein_coding,141318490,141320784
1039455,ENSG00000178913,ENSG00000178913.9,ENST00000624761,ENST00000624761.2,5,protein_coding,141320518,141320781
1039456,ENSG00000178913,ENSG00000178913.9,ENST00000624761,ENST00000624761.2,5,protein_coding,141318995,141320238
1039536,ENSG00000120329,ENSG00000120329.7,ENST00000239451,ENST00000239451.7,5,protein_coding,141302635,141304049

In [54]:
df["Gene type"].unique()

array(['lncRNA', 'TEC', 'protein_coding', 'processed_pseudogene',
       'unprocessed_pseudogene', 'transcribed_processed_pseudogene',
       'unitary_pseudogene', 'miRNA', 'misc_RNA', 'snRNA', 'snoRNA',
       'rRNA_pseudogene', 'rRNA', 'transcribed_unprocessed_pseudogene'],
      dtype=object)

In [55]:
chrom = 5
filename = os.path.join(KL_data_dir, f"whole_genome/mu_filtered/{chrom}/_metadata")
rate = dd.read_parquet(filename.split("_metadata")[0])

In [57]:
rate.head()

     Pos     mu Allele_ref Allele
0  12200  0.062          A      C
1  12200  0.094          A      G
2  12200  0.020          A      T
3  12201  0.020          A      C
4  12201  0.041          A      G