In [1]:
import sys
sys.path.insert(0,'/home/djl34/kl_git/scripts')
from notebook_imports import *

/home/djl34/mambaforge/envs/raklette/lib/python3.9/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.
  warnings.warn(

In [5]:
client = Client()

In [34]:
type = "binary"

chrom = "*"
filename = os.path.join(KL_data_dir, f"results/footprints/zscore/{type}/{chrom}.tsv")

df = dd.read_csv(filename, sep = "\t")

denovo = [os.path.join(KL_data_dir, f"results/footprints/denovo/{chrom}.tsv") for chrom in all_chrom_set]
df_denovo = dd.read_csv(denovo, sep = "\t")

In [35]:
df = df.compute()
df_denovo = df_denovo.compute()

In [37]:
# df = df.merge(df_denovo, on = "footprint_identifier", how = "left")
df = df[df["sites"] > 20]

In [38]:
df.head()

,footprint_identifier,polymorphic,polymorphic_expected,sites,zscore_binary
0,1.102814.27,13,9.109542,30,1.288998
1,1.102814.3,7,8.946010,33,-0.650624
2,1.102814.44,29,22.224545,81,1.437216
3,1.102814.47,42,35.749847,138,1.045330
4,1.102814.5,14,15.067262,49,-0.274950

In [40]:
column = "zscore_binary"

df = df.sort_values("zscore_binary", ascending = True)

In [33]:
df[:10][["footprint_identifier", "zscore_ac", "mu", "sites"]]

       footprint_identifier  zscore_ac       mu  sites
149016           5.798717.7  -2.070534  420.042   4690
149682          5.8015742.7  -1.990344  406.770   4473
149596          5.8014748.4  -1.805110  289.716   1197
149485           5.801256.4  -1.759467  319.716    918
149644          5.8015652.1  -1.693399  257.544   2100
149539           5.801421.1  -1.622852  228.912    741
149651          5.8015664.4  -1.591577  217.833   1344
149595          5.8014742.7  -1.591370  217.182   1323
149519           5.801406.7  -1.585323  281.713   3990
149013           5.798708.7  -1.577997  212.602    780